services:
  2026-nginx-proxy:
    container_name: 2026-nginx-proxy
    build: ./builds/nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./certs:/etc/nginx/certs

  2026-mysql-8:
    image: mysql:8.4.6
    command: mysqld --character-set-server=UTF8MB4
    container_name: 2026-mysql-8
    ports:
      - "33060:3306"
    volumes:
      - ./db-data:/var/lib/mysql:delegated
    working_dir: /var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root

  2026-php84-fpm:
    container_name: 2026-php84-fpm
    build: builds/php84-fpm
    volumes:
      - ../:/var/www/
    working_dir: /var/www
    links:
      - 2026-mysql-8